:root {
      --light-grey: #efefefff;
      --medium-grey: #d7d7d7ff;
      --dark-grey: #383838ff;
      --petrol-blue: #354652;
      --light-green: #9fcfbe;
      --medium-green: #4d9485;
      --dark-green: #437571;
      --light-red: #fe8b8b;
      --medium-red: #fd6f7c;
      --dark-red: #f76c79;

      --ubuntu-mono: "Ubuntu Mono",
            monospace;

      --roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: var(--light-grey);
      min-height: 100vh;
      padding: 3rem;
      color: var(--petrol-blue);
      font-family: var(--ubuntu-mono);
}

header {
      display: grid;
      gap: 1.5rem;
      justify-content: center;
      font-family: var(--ubuntu-mono);
}

.logo {
      min-width: 80px;
      max-width: 160px;
      justify-self: center;
      margin-bottom: 2rem;
}

.title {
      text-align: center;
      font-size: 2.75rem;
      letter-spacing: 1px;
}

.intro {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4 1fr);
      justify-content: space-around;
      margin-bottom: 2rem;
      padding: 1rem;
      border-radius: 10px;
            background: #efefef;
            box-shadow: 5px 5px 10px #979797,
                  -5px -5px 10px #ffffff;
      width: 100%;
}

.what_is {
      margin-bottom: 2.5rem;
      font-size: 2rem;

}

.criteria {
      display: grid;
      justify-content: center;

}

.criteria p {
      width: 170px;
      text-align: center;
      align-self: start;
      font-size: .9rem;
      font-family: "Ubuntu", sans-serif;

}

.criteria img {
      justify-self: center;
      width: 80px;
      border-radius: 5px;
      filter: brightness(.9);
}

.generator h5 {
      font-family: var(--roboto);

}

.length {

      grid-row: 1;
      grid-column: 1;
}

.characters {
      grid-row: 1;
      grid-column: 2;

}

.sequence {
      grid-row: 1;
      grid-column: 3;
}

.frequency {
      grid-row: 1;
      grid-column: 4;
}



td {
      color: var(--petrol-blue);
      padding: .5rem 0;
      font-size: 1rem;
}

td * {
      vertical-align: middle;
}

td span {
      margin-left: 1rem;
}

td input {
      margin-left: 1rem;
}

#password_length {
      accent-color: var(--dark-red);
      cursor: pointer;
}

.result {
      display: grid;
      margin: auto;
      height: 4rem;
      width: 75ch;
      border-radius: 50px;
            background: #efefef;
            box-shadow: inset 5px 5px 10px #979797,
                  inset -5px -5px 10px #ffffff;
      align-items: center;
      text-align: center;
      grid-template-columns: 1fr 60px;
}

.password {
      font-weight: normal;
      grid-column: 1;
}

.generate {
      margin-top: 1rem;
      display: grid;
      margin-bottom: 1rem;
      justify-content: center;


}

.generate input {
      width: auto;
      height: auto;
      padding: 1rem 1.5rem;
      border-radius: 50px;
            background: #efefef;
            box-shadow: 5px 5px 10px #979797,
                  -5px -5px 10px #ffffff;
      border: none;
      font-family: var(--roboto);
      letter-spacing: 1px;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: var(--petrol-blue);

      &:active {
            scale: 0.9;
      }
}

button {
      grid-column: 2;
      width: 15px;
      border: none;
      justify-self: center;
      align-self: center;
}

button:active {
      scale: 0.9;
}

@media(max-width: 850px) {


      .intro {
            display: flex;
            flex-direction: column;

      }

      .what_is {
            text-align: center;
      }

      .criteria img {
            margin-bottom: 10px
      }

      .criteria p {
            margin-bottom: 30px;
      }

      .result {
            width: 100%;
            margin-top: 1.5rem;
      }

      .result h3 {
            display: block;
            overflow-wrap: break-word;
            word-break: break-all;
            font-size: 1rem;
            margin-left: 30px;
      }
}